<head>
    <title>russia MUST BE STOPPED!</title>
  </head>
  <body>
    <h1>russia MUST BE STOPPED!</h1>
    <h3>English version</h3>
    <p>The "official" news in russian federation are all fake and we believe it is better to shut them down!</p>
    <p>Please, just open this page and let it be open on your devices, it will flood the web-sites and pose a huge load on their infrastructure</p>
    <h3>Русская версия</h3>
    <p>"Официальные" новости в рф - это театр абсурда и мы считаем, что это нужно остановить!</p>
    <p>Пожалуйста, просто откройте эту страницу на своём компьютере и оставтье вкладку открытой, она будет автоматически нагружать сайты российской пропаганды.</p>
    <h3>Українська версія</h3>
    <p>Офіційні новини в рф - це театр абсурду і ми вважаємо, що це треба зупинити!</p>
    <p>Будь ласка, просто залиште відкритою цю сторінку на своєму комп'ютері щоб вона автоматично навантажувала сайти російської пропаганди.</p>
    <h3>Here is the stats of your session (the links and the number of the requests that were sent from your browser):</h3>
    <div id="stats"></div>
    <div id="errors"></div>
    <p>If you missed it, <a href="https://www.bbc.com/news/world-europe-60503037">BBC NEWS: Ukraine conflict: Russian forces attack from three sides</a></p>
  </body>
  <script type="text/javascript" src="flood.js"></script>
</html>